
 ul li a{
     float: right;
 }
 body{
     margin-left: 20%;
     margin-right: 20%;
 }
 .profile-header {
    padding: 20px 0;
  }
  
  .profile-image {
    margin: 20px auto;
    height: 152px;
    width: 152px;
  }
  
  .email-and-follow {
    display: inline;
  }
  
  .profile-email {
    display: inline;
  }
  
  .edit-button {
    border-color: #818488;
    color: #818488;
    margin-left: 20px;
  }
  
  .profile-bio {
    margin-top: 20px;
  }
  .image{
    width:80px;
}
.images{
  width:150px;
}